.baner{
background-color: bisque;
color: rgb(243, 8, 8);
text-align: center;
padding: 3em;
}
.baner__titulo{
    font-size: 30px;
    font-weight: 700;
    padding: 4em;
}
.baner__text0{
    font-size: 18px;
    font-weight: 900;
    




}