.banner{
background-color: bisque;
color: rgb(243, 8, 8);
text-align: center;
padding: 3em;
}
.banner__titulo{
    font-size: 35px;
    font-weight: 700;
    padding: 4em;
}
.banner__texto{
    font-size: 18px;
    font-weight: 900;
    }
.banner__pesquisa{
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 24px;
    width: 50%;
    color: indianred;
}